<!doctype html>
<html>
<head>
  <title>Authentication in Node</title>
</head>
<body>
  <% if (!isAuthenticated) { %>
    <a href="/login">Log in here</a>
  <% } else { %>
    Hello, <%= user.name %>!
    <a href="/logout">Logout</a>
  <% } %>
</body>
</html>